name: Deploy Flutter Web to GitHub Pages

on:
  push:
    branches: [ main ]

# Sets permissions for the deployment job
permissions:
  contents: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      # 1. Checkout your repository code
      - name: Checkout
        uses: actions/checkout@v4

      # 2. Setup Flutter
      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.27.3'

      # 3. Install dependencies and build for the web
      - name: Build Web
        run: |
          flutter pub get
          flutter build web --base-href /bunny/ --release

      # 4. Deploy to GitHub Pages
      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: main
          folder: build/web
          clean: true
